body {
    padding: 0;
    margin: 0;
    background: grey;
}

.opcoes-menu {
    text-align: center;
}

.navbar {
    background: #212429;
}

#form-contato label {
    color: white;
}

#grid-contatos {
    color: white;
}

#table-contatos td{
    color: white;
}

section {
    background: #212429;
    margin-top: 15px;
}
.hidden{
    display: none;
}
@media screen and (max-width:576px) {
    ul li {
        padding: 10px;
    }

    .logo {
        margin-left: -50px;
    }

    section h1 {
        padding-top: 20px;
        color: white;
    }

    .hide-mb {
        display: none;
    }

    .form-group-2 input {
        margin: 5px;
        color: white;
    }
    
    footer{
        padding: 10px;
        text-align: center;
        font-weight: bolder;
    }
}


@media screen and (min-width:577px) and (max-width:991px) {
    .form-group-2 input {
        margin: 10px;
        color: white;
    }

    ul li {
        padding: 10px;
    }

    section h1 {
        padding-top: 20px;
        color: white;
    }

    footer{
        padding: 10px;
        font-size: 20px;
        text-align: center;
        font-weight: bolder;
    }
}

@media screen and (min-width:992px) and (max-width:1200px){
    
}

@media screen and (min-width:1200px){
    .nav-causas{
        margin-left: 50px;
    }
    
    .btn-nav {
        padding-left: 10px;
        
    }

    #btnClear {
        float: right;
    }      

    .btn-login {
        padding-left: 750px;
    }

    .form-group-2 input {
        margin: 10px;
        color: white;
    }

    footer{
        font-size: 20px;
        font-weight: bolder;
        padding: 10px;
        background: #212529;
        text-align: center;
    }

    footer span {
        color: white;
    }

    section h1 {
        padding-top: 20px;
        color: white;
    }
}


label {
    font-weight: bolder;
}
::placeholder {
    color: lightskyblue !important;
    opacity: 3;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  lightskyblue !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  lightskyblue !important;
    opacity:  3;
 }
 h1 {
     text-align: center;
 }
 #msg {
     height: 60px;
 }
 #grid-contatos tbody {
     cursor: pointer;
 }