body {
    padding: 0;
    margin: 0;
}

html{
    background: rgb(22, 22, 22);
}

.opcoes-menu {
    text-align: center;
}

main {
    margin-bottom: 35px;
}

.footer {
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    background: #212529;
    text-align: center;
    border-top: grey 1px solid;
}

.navbar {
    background: #212429;
}
#form-contato label {
    color: white;
}
.hidden{
    display: none;
}
#grid-contatos {
    color: white;
}

#table-contatos td{
    color: white;
}
main{
    background: #212429;
}

h1{
    color: white;
}
#btn_logout{
    background: none;
    font-size: 0;
}
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

input[type='file'] {
    display: none;
}

.max-width {
    max-width: 500px;
    width: 100%;
}

#imgPhoto {
    margin-top: 10%;
    width: 300px;
    height: 300px;
    padding:10px;
    background-color: #eee;
    border: 5px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background .3s;
}

#imgPhoto:hover{
    background-color: rgb(180, 180, 180);
    border: 5px solid #111;
}
.hovertext {
    position: relative;
    border-bottom: 1px dotted black;
  }
  
  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }
.input{
    margin-left: 120px;
}
.cor{
    color: white;
}
#login{
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

.border{
    margin: 20px 20px;
    background: rgb(39, 39, 39);
}
h1{
    text-align: center;
}
form{
    text-align: center;
}
.text-black{
    border: none;
}
th{
    color: white;
}
td{
    color: white;
}
form{
    color: white;
}
@media screen and (min-width:600px)and (max-width: 988px){
    .input{
        margin-left: 0;
    }
    .logo {
        padding-right: 520px;
    }
}

@media screen and (max-width:576px) {
    ul li {
        padding: 10px;
    }

    .logo {
        margin-left: -290px;
    }

    #imgPhoto {
        margin-left: 25px;
    }

    .footer {
        font-size: 15px;
    }
    
    main {
        margin-bottom: 55px;
    }
    
}

/**
Edit profile
*/
.titulo{
    text-align: center;
    font-weight: bolder;
    color: white;
}
h3{
color: white;
}
em{
    color: white;
}
.password-block{
    margin-top: 10pc;
}
.mudarSenha{
    font-weight: bold;
    font-size: 22px;
}

@media screen and (min-width:1200px){
    .pesquisa {
        margin-top: 10px;
    }
    .nav-causas{
        margin-left: 50px;
    }
    
    .btn-nav {
        padding-left: 10px;
        
    }

    .btn-login {
        padding-left: 600px;
    }

    .form-group-2 input {
        margin: 10px;
        color: white;
    }

    footer{
        padding: 10px;
        font-size: 20px;
        text-align: center;
        font-weight: bolder;
    }

    section h1 {
        padding-top: 20px;
        color: white;
    }
}


label {
    font-weight: bolder;
}
::placeholder {
    color: lightskyblue !important;
    opacity: 3;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  lightskyblue !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  lightskyblue !important;
    opacity:  3;
 }
 h1 {
     text-align: center;
 }
 #msg {
     height: 60px;
 }
 #grid-contatos tbody {
     cursor: pointer;
 }